@import "./src/styles/variables";
@import "./src/styles/mixins";

.button {
  background-color: $green;
  padding: 10px 28px;
  height: 54px;
  border: 0;
  color: #FFFF;
  @include font-700;
  text-align: center;

  &:hover {
    background-color: $light_green;
  }

  &_disabled, &_disabled:hover {

    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 55px;
    background-color: $grey;
  }

  &_loading, &_loading:hover {
    padding-left: 19px;
  }
}

@media screen and (max-width: 700px) {
  .button {
    height: 38px;
    width: 100px;
    font-size: 14px;
    padding: 2px 6px;
    margin-bottom: 18px;
    margin-right: 10px;
  }
}
