@import "./src/styles/variables";
@import "./src/styles/mixins";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  overflow: hidden;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  color: $black;
  gap: 29px;
}

.title {
  margin: 50px 0 30px 100px;
  @include font-700;
  font-size: 32px;
  letter-spacing: 0.01em;
  color: $black;
}

@media screen and (max-width: 700px) {
  .container {
    display: grid;
    margin-left: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .title {
    font-size: 18px;
    margin-left: 10px;
  }
}