.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 29px;
  align-items: start;
  margin-left: 100px;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin: 20px 20px 20px 100px;
}
.dropdownContainer {
  position: absolute;
  top: 402px;
  right: 80px;
}
.button {
  position: absolute;
  right: 14px;
}
.pagination{
  font-family: 'Eudoxus Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  list-style-type: none;
}

.active{
  color: aliceblue;
  background-color: #518581;
}

.page {
  display: flex;
  border: 1.5px solid #F9F9F9;
  width: 38px;
  height: 42px;
  align-items: center;
  justify-content: center;
}
.links{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 8px;
}
.vectorNext{
  display: flex;
  align-items: center;
  justify-content: center;
  content: url("../../../../public/Vector.svg");
}

.vectorPrevious {
  display: flex;
  align-items: center;
  justify-content: center;
  content: url("../../../../public/Vector.svg");
  transform: rotate(180deg);
}

.disabledVector{
  opacity: 0.3;
  cursor: auto;
}

.counterLabel{
  margin: 50px 100px;
  display: flex;
  flex-direction: row;
  font-family: 'Eudoxus Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
}

::placeholder{
  font-family: 'Eudoxus Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */


  /* Paragraph Color */

  color: #AFADB5;
}

@media (max-width: 700px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
  }
  .searchContainer {
    margin-left: 10px;
    width: auto;
  }
  .counterLabel{
    font-size: 18px;
    margin: 5px 10px;
  }
  ::placeholder{
    font-size: 14px;
  }
  .pagination{
padding-left: 0;
  }
}