@import "./src/styles/variables";
@import "./src/styles/mixins";

.container {
  &_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 29px;
    align-items: start;
    margin-left: 100px;
  }

  &_search {
    position: relative;
    @include flex_center;
    width: 70vw;
    margin: 20px 20px 20px 100px;
  }

  &_dropdown {
    position: absolute;
    top: 402px;
    right: 80px;
  }

  &_label {
    margin: 50px 100px;
    display: flex;
    flex-direction: row;
    @include font-700;
    font-size: 44px;
  }
}

.card {
  margin: 0;
}


.button {
  position: absolute;
  right: 14px;
}

.pagination {
  @include font-500;
  line-height: 180%;
  margin-bottom: 70px;
  @include flex_center;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  list-style-type: none;
}

.active {
  color: aliceblue;
  background-color: $green;
}

.page {
  @include flex_center;
  border: 1.5px solid #F9F9F9;
  width: 38px;
  height: 42px;
}

.links {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 8px;
}

.vector {
  &_next {
    @include flex_center;
    content: url("../../../../public/Vector.svg");
  }

  &_previous {
    @include flex_center;
    content: url("../../../../public/Vector.svg");
    transform: rotate(180deg);
  }

  &_disabled {
    opacity: 0.3;
    cursor: auto;
  }
}


::placeholder {
  @include font-500;
  line-height: 180%;
  color: #AFADB5;
}
@include loader;

@media (max-width: 700px) {
.container{
  &_card {
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
  }
  &_search {
    margin-left: 10px;
    width: auto;
  }
  &_label {
    font-size: 18px;
    margin: 5px 10px;
  }
}

  ::placeholder {
    font-size: 14px;
  }
  .pagination {
    padding-left: 0;
  }
}