@import 'Roboto/fonts';
@import 'EudoxusSans/fonts';
@import "./src/styles/variables";
@import "./src/styles/mixins";

.card {
  align-items: flex-start;
  padding: 0;
  margin-left: 0;
  width: 394px;
  height: 544px;
  cursor: pointer;
}


.title {
  @include font-700;
  margin: 0 0 6px;;
}

.subtitle {
  @include font-500;
  color: #AFADB5;
}

.img {
  margin-bottom: 16px;
  width: 394px;
  height: 360px;
}

.price {
  margin-top: 30px;
  @include font-700;
  font-size: 24px;
  color: #151411;
}

@media screen and (max-width: 700px) {
  .card {
    width: 156px;
    height: 310px;
  }
  .img {
    width: 156px;
    height: 130px;
  }
  .title {
    font-size: 14px;
  }
  .subtitle {
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    line-height: normal;
    text-overflow: ellipsis;
  }
  .price {
    font-size: 14px;
    margin-top: 5px;
  }
}