@import "./src/styles/variables";
@import "./src/styles/mixins";

.container {
  position: relative;
  width: 640px;
}

.img {
  width: auto;
}

.btn {
  &_previous {
    @include slider_btn;
    left: 20px;
    top: 208px;
    transform: rotate(180deg);

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  &_next {
    @include slider_btn;
    right: 20px;
    top: 208px;
    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }
}

@media screen and (max-width: 700px) {
  .container{
    width: auto;
  }
  .img{
    width: 97%;
  }
  .btn{
    &_previous{
      height: 40px;
      width: 40px;
      top: 110px;
      left: 3px;
    }
    &_next{
      height: 40px;
      width: 40px;
      top: 110px;
      right: 13px;
    }
  }
}